<!DOCTYPE html>
<html ng-app="agitable">
  <head>
    <meta charset="utf-8">
    <title>agitable</title>
    <link rel="stylesheet" type="text/css" href="/css/agitable.css" />
    <script src="/js/agitable.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
