# OS files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# VI swap files
*.swp*
*.swo*

/.sass-cache/**/*

# node js packages
/node_modules

# bower packages
/bower_components

# local temporary folder
/temp
/tmp
/log
/pid

# templates
.compiled.*
desktop.ini

# current version pointers
changed_files.txt
current-dev-revision.txt
current-revision.txt
frontend-revision.txt
