//= require normalize
@import "mixins";

body, body *, * {
  box-sizing: border-box;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.highlight {
  color: orange;
  font-weight: bolder;
}

fieldset {
  background: rgba(0,0,0,0.2);
  border: none;
  input { color: #111; }
}

legend {
  float: right;

  h1 { 
    line-height: 1em;
    font: bolder 100% Consolas, Monaco, monospace;
    border-right: .1em solid;
    width: 16.5em; /* fallback */
    width: 9ch; /* # of chars */
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(9, end) infinite alternate,
               blink-caret .5s step-end infinite alternate;
  }
}

body {
  @include dots-background;
  color: #bbb;
}

section {
  padding: 10px;
}

table {
  margin-top: 10px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.hash-column {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.date-column {
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.author-column {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.author-column-content, .date-column-content {
  font-size: 0.5em;
}

.hash-column-content {
  font-size: 0.5em;
  font-family: monospace;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 45ch;
  min-width: 45ch;
}


.commits-table-header {
  @include tire-like-background;
  
  th {
    padding: 5px 5px;
  }
}

.commit-row {
  padding: 0;
  td {
    padding: 5px;
    border: solid 1px #111; border-top: none; border-bottom: none;
  }
  &:nth-child(2n) {
    td { background: rgba(0, 0, 0, 0.3); border-color: black; }
  }
  &:nth-child(2n+1) {
    td { background: rgba(0, 0, 0, 0.2); border-color: black; }
  }
}

.message-column {
  width: 100%;
}

